appdirs==1.4.4
asttokens==2.4.1
Babel==2.8.0
bcrypt==4.1.1
beautifulsoup4==4.12.2
blinker==1.7.0
bs4==0.0.1
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==3.4.8
cssselect==1.2.0
decorator==5.1.1
distro==1.7.0
dnspython==2.4.2
dominate==2.9.0
email-validator==2.1.0.post1
exceptiongroup==1.2.0
executing==2.0.1
fake-useragent==1.4.0
Flask==3.0.0
Flask-BabelEx==0.9.4
Flask-Bcrypt==1.0.1
Flask-Bootstrap==3.3.7.1
Flask-DebugToolbar==0.13.1
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
gunicorn==21.2.0

